{% extends 'layout.html' %}

{% set title = _('Страница не найдена') %}

{% block body %}
  <h1 id="notfound">Страница не найдена</h1>
  <p>
    Страница, которую вы запросили, не существует. Возможно, вы прошли
    по неверной ссылке, или страница была перемещена или удалена.
  <p>
    Перейдите к странице <a href="{{ pathto(master_doc) }}">обзора</a> или
    <a href="{{ pathto('search') }}">поиска</a>.
{% endblock %}
